/*-- Flickity v3.0.0 -- */
.flickity-disabled-mobile:after {
    content: "flickity" !important;
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: none;
  }
  @media only screen and (max-width: 767px) {
    .flickity-disabled-mobile:after {
      content: "" !important;
    }
  }
  .flickity-enabled {
    position: relative;
  }
  .flickity-enabled:focus {
    outline: none;
  }
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .flickity-slider {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: pan-y;
    -webkit-user-select : none;
    -webkit-user-drag: none;
  }
  /* flickity-cell */
  .flickity-cell {
    position: absolute !important;
    left: 0;
  }
  .flickity-rtl .flickity-cell {
    left: unset;
    right: 0;
  }
  /* fade */
  .flickity-enabled.is-fade .flickity-slider > * {
    pointer-events: none;
    z-index: 0;
  }
  .flickity-enabled.is-fade .flickity-slider > *.is-selected {
    pointer-events: auto;
    z-index: 1;
  }
  /* draggable */
  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: grab;
  }
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: grabbing;
  }
  /* ---- flickity-button ---- */
  .flickity-button {
    position: absolute;
    background: hsla(0, 0%, 100%, 0.75);
    border: none;
    color: var(--text);
  }
  .flickity-button:hover {
    background: white;
    cursor: pointer;
  }
  .flickity-button:focus {
    outline: none;
  }
  .flickity-button:active {
    opacity: 0.6;
  }
  .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
  }
  .flickity-button-icon {
    fill: currentColor;
  }
  /* ---- previous/next buttons ---- */
  .flickity-prev-next-button {
    top: 50%;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    /* vertically center */
    transform: translateY(-50%);
  }
  .flickity-prev-next-button.previous {
    left: 10px;
  }
  .flickity-prev-next-button.next {
    right: 10px;
  }
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
  }
  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
  }
  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 33%;
    top: 33%;
    width: 35%;
    height: 35%;
  }
  /* ---- page dots ---- */
  .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
  }
  .flickity-rtl .flickity-page-dots {
    direction: rtl;
  }
  .flickity-page-dots .dot,
  .flickity-page-dots .flickity-page-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: 0.25;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
  }
  .flickity-page-dots .is-selected {
    opacity: 1;
  }
  .product__mobile--slideshow .flickity-page-dots,
  .flickity-badge-dots .flickity-page-dots {
    text-align: right;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    border-radius: 20px;
    overflow: hidden;
    gap: 4px;
  }
  .product__mobile--slideshow .flickity-page-dots .flickity-page-dot,
  .flickity-badge-dots .flickity-page-dots .flickity-page-dot {
    display: inline-block;
    position: relative;
    z-index: 5;
    width: 3px;
    height: 3px;
    background: var(--bg);
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
  }
  .product__mobile--slideshow .flickity-page-dots .flickity-page-dot.is-selected,
  .flickity-badge-dots .flickity-page-dots .flickity-page-dot.is-selected {
    opacity: 1;
  }
  .product__mobile--slideshow .flickity-page-dots .flickity-page-dot::before,
  .flickity-badge-dots .flickity-page-dots .flickity-page-dot::before {
    content: '""';
    position: absolute;
    inset: -8px;
    cursor: inherit;
    z-index: -10;
  }
  [data-carousel] + * {
    margin-top: max(var(--gutter), 20px);
  }
  [data-carousel] .flickity-button {
    position: absolute;
    top: var(--buttons-top);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background: var(--hairline);
    color: var(--text);
    transform: translateY(-50%);
    transition: all 0.3s;
  }
  [data-carousel] .flickity-button svg {
    position: absolute;
    left: 33%;
    top: 33%;
    width: 35%;
    height: 35%;
    fill: currentColor;
  }
  [data-carousel].flickity-rtl .flickity-button.previous, [data-carousel].flickity-rtl .flickity-button.next {
    left: auto;
    right: auto;
  }
  [data-carousel] .flickity-button.next, [data-carousel].flickity-rtl .flickity-button.previous {
    right: -70px;
  }
  [data-carousel] .flickity-button.previous, [data-carousel].flickity-rtl .flickity-button.next {
    left: -70px;
  }
  @media only screen and (max-width: 767px) {
    [data-carousel] .slide-item:first-child {
      margin-left: max(var(--outer) - var(--gutter), 0px);
    }
  }
  @media only screen and (min-width: 768px) {
    .js [data-carousel]:not(.flickity-enabled) {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
    }
    .js [data-carousel]:not(.flickity-enabled) .grid__item,
    .js [data-carousel]:not(.flickity-enabled) .gallery__item,
    .js [data-carousel]:not(.flickity-enabled) .slide-item {
      flex-shrink: 0;
    }
  }
  .no-js [data-carousel] {
    display: flex;
    flex-wrap: wrap;
  }
  .flickity-force-arrows-top [data-carousel] .flickity-button,
  .wrapper--full [data-carousel] .flickity-button,
  .wrapper--none [data-carousel] .flickity-button {
    top: auto;
    bottom: 100%;
    transform: none;
  }
  .flickity-force-arrows-top [data-carousel] .flickity-button,
  .flickity-force-arrows-top [data-carousel]:first-child .flickity-button,
  .wrapper--full [data-carousel] .flickity-button,
  .wrapper--full [data-carousel]:first-child .flickity-button,
  .wrapper--none [data-carousel] .flickity-button,
  .wrapper--none [data-carousel]:first-child .flickity-button {
    margin-bottom: max(var(--gutter), var(--padding-top) / 2);
  }
  .flickity-force-arrows-top [data-carousel] .flickity-button.next, .flickity-force-arrows-top.title-center [data-carousel] .flickity-button.next,
  .flickity-force-arrows-top [data-carousel].flickity-rtl .flickity-button.previous, .flickity-force-arrows-top.title-center [data-carousel].flickity-rtl .flickity-button.previous,
  .wrapper--full [data-carousel] .flickity-button.next,
  .wrapper--full.title-center [data-carousel] .flickity-button.next,
  .wrapper--full [data-carousel].flickity-rtl .flickity-button.previous,
  .wrapper--full.title-center [data-carousel].flickity-rtl .flickity-button.previous,
  .wrapper--none [data-carousel] .flickity-button.next,
  .wrapper--none.title-center [data-carousel] .flickity-button.next,
  .wrapper--none [data-carousel].flickity-rtl .flickity-button.previous,
  .wrapper--none.title-center [data-carousel].flickity-rtl .flickity-button.previous {
    right: calc(var(--gutter) / 2);
    left: auto;
  }
  .flickity-force-arrows-top [data-carousel] .flickity-button.previous, .flickity-force-arrows-top.title-center [data-carousel] .flickity-button.previous,
  .flickity-force-arrows-top [data-carousel].flickity-rtl .flickity-button.next, .flickity-force-arrows-top.title-center [data-carousel] .flickity-rtl .flickity-button.next,
  .wrapper--full [data-carousel] .flickity-button.previous,
  .wrapper--full.title-center [data-carousel] .flickity-button.previous,
  .wrapper--full [data-carousel].flickity-rtl .flickity-button.next,
  .wrapper--full.title-center [data-carousel] .flickity-rtl .flickity-button.next,
  .wrapper--full .grandparent .title-center.header__dropdown__wrapper [data-carousel] .flickity-rtl .flickity-button.next,
  .wrapper--none [data-carousel] .flickity-button.previous,
  .wrapper--none.title-center [data-carousel] .flickity-button.previous,
  .wrapper--none [data-carousel].flickity-rtl .flickity-button.next,
  .wrapper--none.title-center [data-carousel] .flickity-rtl .flickity-button.next {
    left: calc(var(--gutter) / 2);
    right: auto;
  }
  .flickity-force-arrows-top.title-left [data-carousel] .flickity-button.next, .flickity-force-arrows-top.title-left [data-carousel].flickity-rtl .flickity-button.previous,
  .wrapper--full.title-left [data-carousel] .flickity-button.next,
  .wrapper--full .grandparent .title-left.header__dropdown__wrapper [data-carousel] .flickity-button.next,
  .wrapper--full.title-left [data-carousel].flickity-rtl .flickity-button.previous,
  .wrapper--full .grandparent .title-left.header__dropdown__wrapper [data-carousel].flickity-rtl .flickity-button.previous,
  .wrapper--none.title-left [data-carousel] .flickity-button.next,
  .wrapper--none.title-left [data-carousel].flickity-rtl .flickity-button.previous {
    right: calc(var(--gutter) / 2);
    left: auto;
  }
  .flickity-force-arrows-top.title-left [data-carousel] .flickity-button.previous, .flickity-force-arrows-top.title-left [data-carousel].flickity-rtl .flickity-button.next,
  .wrapper--full.title-left [data-carousel] .flickity-button.previous,
  .wrapper--full .grandparent .title-left.header__dropdown__wrapper [data-carousel] .flickity-button.previous,
  .wrapper--full.title-left [data-carousel].flickity-rtl .flickity-button.next,
  .wrapper--full .grandparent .title-left.header__dropdown__wrapper [data-carousel].flickity-rtl .flickity-button.next,
  .wrapper--none.title-left [data-carousel] .flickity-button.previous,
  .wrapper--none.title-left [data-carousel].flickity-rtl .flickity-button.next {
    right: calc(46px + var(--gutter) / 2);
    left: auto;
  }
  .wrapper--none [data-carousel] .flickity-button.next, .wrapper--none.title-center [data-carousel] .flickity-button.next, [data-carousel].flickity-rtl .flickity-button.previous .wrapper--none.title-center [data-carousel].flickity-rtl .flickity-button.previous {
    right: var(--gutter);
  }
  .wrapper--none [data-carousel] .flickity-button.previous, .wrapper--none.title-center [data-carousel] .flickity-button.previous,
  .wrapper--none [data-carousel].flickity-rtl .flickity-button.next, .wrapper--none.title-center [data-carousel].flickity-rtl .flickity-button.next {
    left: var(--gutter);
  }
  .wrapper--none.title-left [data-carousel] .flickity-button.next, .wrapper--none.title-left [data-carousel].flickity-rtl .flickity-button.previous {
    right: var(--gutter);
    left: auto;
  }
  .wrapper--none.title-left [data-carousel] .flickity-button.previous, .wrapper--none.title-left [data-carousel].flickity-rtl .flickity-button.next {
    right: calc(36px + var(--gutter));
  }



  [data-grid]:not([data-grid-no-gutters]).flickity-enabled, [data-grid][data-grid-no-gutters].flickity-enabled, [data-grid].flickity-enabled {
    padding-right: var(--outer);
  }
  [data-grid]:not([data-grid-no-gutters]).flickity-enabled [data-item], [data-grid][data-grid-no-gutters].flickity-enabled [data-item], [data-grid].flickity-enabled [data-item] {
    width: calc(100% / var(--grid-small-items) - var(--gutter) / var(--grid-small-items) * (var(--grid-small-items) - 1));
  }
  [data-grid]:not([data-grid-no-gutters]) .flickity-viewport, [data-grid][data-grid-no-gutters] .flickity-viewport, [data-grid] .flickity-viewport {
    overflow: visible;
  }

  .section-without-title:not(.not-moved-arrows):not(.hidden-arrows):not(.section-without-title--skip) .wrapper--full [data-carousel] .flickity-button, .wrapper--full .grandparent .section-without-title:not(.not-moved-arrows):not(.hidden-arrows):not(.section-without-title--skip) .header__dropdown__wrapper [data-carousel] .flickity-button,
.section-without-title:not(.not-moved-arrows):not(.hidden-arrows):not(.section-without-title--skip) .wrapper--full [data-carousel]:first-child .flickity-button,
.section-without-title:not(.not-moved-arrows):not(.hidden-arrows):not(.section-without-title--skip) .wrapper--none [data-carousel] .flickity-button,
.section-without-title:not(.not-moved-arrows):not(.hidden-arrows):not(.section-without-title--skip) .wrapper--none [data-carousel]:first-child .flickity-button {
  margin-bottom: calc(var(--arrows-margin-offset) / 2 - var(--arrows-height) / 2);
}
body.focus-enabled .flickity-badge-dots .flickity-page-dots .flickity-page-dot:focus{
    outline-offset: 2px !important;
  }



.announcement .flickity-enabled .ticker--animated {
    animation-play-state: paused;
  }
  .announcement .flickity-enabled .is-selected .ticker--animated {
    animation-play-state: running;
  }
  .announcement:hover .ticker--animated {
    animation-play-state: paused;
  }

  .section-slideshow .flickity-enabled.is-draggable .flickity-viewport {
    cursor: default;
  }

  /* html.js [x-data^=announcementSlider]:not(.flickity-enabled) > *:not(:first-child) {
    display: none;
  } */

  .section-slideshow .flickity-page-dots {
    position: absolute;
    bottom: var(--outer);
    right: var(--outer);
  }
  .section-slideshow .flickity-page-dots:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text);
    opacity: 0.5;
    z-index: 0;
  }


.collection-tabs .flickity-button {
    top: var(--buttons-top);
  }
  @media only screen and (max-width: 479px) {
    .collection-tabs .flickity-prev-next-button {
      display: none;
    }
  }
  .collection-tabs .flickity-prev-next-button.previous {
    left: -70px;
  }


.collection-tabs .flickity-prev-next-button.next {
    right: -70px;
  }
  .collection-tabs .flickity-button {
    background: var(--hairline);
    color: var(--text);
  }
  .collection-tabs .flickity-button:hover {
    background: var(--hairline-hover);
  }

  .collection-tabs .flickity-grid:not(.flickity-disabled-mobile):not(.flickity-enabled) {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .collection-tabs .flickity-grid:not(.flickity-disabled-mobile):not(.flickity-enabled) .slide-item {
    flex-shrink: 0;
  }
  @media only screen and (min-width: 768px) {
    .collection-tabs .flickity-grid:not(.flickity-enabled) {
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
    }
    .collection-tabs .flickity-grid:not(.flickity-enabled) .slide-item {
      flex-shrink: 0;
    }
  }
  .palette--dark .flickity-button {
    background: var(--bg);
    color: var(--text);
  }
  .palette--dark .flickity-button:hover {
    background: var(--bg-accent);
  }
  .flickity-grid[data-carousel] .flickity-button.next {
    left: auto;
  }
  .flickity-grid .product-grid-slide {
    position: relative;
    overflow: hidden;
    padding-left: calc(var(--outer) / 2);
    padding-right: calc(var(--outer) / 2);
  }
  @media only screen and (max-width: 479px) {
    .flickity-grid .product-grid-slide {
      padding-right: 0;
      padding-left: var(--outer);
    }
  }

  @media only screen and (min-width: 480px) {
    .flickity-grid[data-grid-large="1"] .product-grid-slide {
      width: 100%;
    }
    .flickity-grid[data-grid-large="2"] .product-grid-slide {
      width: 50%;
    }
    .flickity-grid[data-grid-large="3"] .product-grid-slide {
      width: 33.33%;
    }
    .flickity-grid[data-grid-large="4"] .product-grid-slide {
      width: 25%;
    }
    .flickity-grid[data-grid-large="5"] .product-grid-slide {
      width: 20%;
    }
    .flickity-grid[data-grid-large="6"] .product-grid-slide {
      width: 16.66%;
    }
  }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .flickity-grid[data-grid-large="5"] .product-grid-slide,
    .flickity-grid[data-grid-large="6"] .product-grid-slide {
      width: 25%;
    }
  }
  @media only screen and (max-width: 479px) {
    .flickity-grid[data-grid-large] .product-grid-slide:not([data-item]) {
      width: 90%;
    }
  }



.product__grid--slides .flickity-viewport {
    transition: height 0.4s;
  }
  .product__grid--slides .flickity-slider > * {
    width: 100%;
  }
  @media only screen and (min-width: 768px) {
    .product__grid--slides .flickity-slider > * {
      opacity: 0 !important;
      transition: opacity 1s ease !important;
    }
    .product__grid--slides .flickity-slider > *.is-selected {
      opacity: 1 !important;
    }
  }



@media only screen and (min-width: 768px) {
    html.js .product__grid--slides:not(.flickity-enabled) > .product__media:not(:first-child) {
      display: none;
    }
  }
  @media only screen and (max-width: 767px) {
    html.js .product__grid:not(.flickity-enabled) > .product__media:not(:first-child) {
      display: none;
    }
  }
  @media only screen and (min-width: 768px) {
    .product__grid--slides.flickity-enabled .product__media:not(.is-selected) {
      visibility: hidden;
    }
  }


  .product__mobile--carousel .flickity-lock-height.flickity-enabled:not(:has(.flickity-viewport)) {
    padding-bottom: calc(var(--default-ratio) * 0.85) !important;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .product__mobile--carousel .flickity-lock-height.flickity-enabled > .product__media {
    flex: 0 0 auto;
  }
  .product__mobile--carousel .flickity-lock-height .flickity-viewport {
    padding-bottom: calc(var(--default-ratio) * 0.85) !important;
  }
  .product__mobile--slideshow .flickity-page-dots {
    bottom: 20px;
    right: 20px;
    padding: 6px;
    color: var(--text-dark);
    z-index: 50;
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
  }
  .product__mobile--slideshow .flickity-page-dots .flickity-page-dot {
    background: var(--text);
  }
  .product__mobile--slideshow .flickity-page-dots:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: var(--bg);
    opacity: 0.3;
    -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
    transition: all 0.3s;
  }



  .flickity-lock-height .flickity-viewport {
    padding-bottom: var(--default-ratio);
  }

  .product__grid--slides.flickity-lock-height .flickity-viewport {
    padding-bottom: var(--default-ratio);
  }



[data-carousel].look__products__slider .flickity-prev-next-button {
  top: 100%;
  margin-top: var(--gutter);
  margin-bottom: 0;
  background-color: var(--bg);
  transform: none;
  transition: opacity 0.2s;
}
[data-carousel].look__products__slider .flickity-prev-next-button:hover {
  opacity: 0.9;
}
[data-carousel].look__products__slider .flickity-prev-next-button.previous {
  left: 50%;
  border-right: 1px solid var(--border);
  border-radius: 3px 0 0 3px;
  margin-right: -1px;
  transform: translateX(-100%);
}
@media only screen and (max-width: 767px) {
  [data-carousel].look__products__slider .flickity-prev-next-button.previous {
    border: 1px solid var(--border);
  }
}
[data-carousel].look__products__slider .flickity-prev-next-button.next {
  right: auto;
  left: 50%;
  border-left: 1px solid var(--border);
  margin-left: -1px;
  border-radius: 0 3px 3px 0;
}
@media only screen and (max-width: 767px) {
  [data-carousel].look__products__slider .flickity-prev-next-button.next {
    border: 1px solid var(--border);
  }
  [data-carousel].look__products__slider {
    padding: 0;
    scroll-padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  [data-carousel].look__products__slider.flickity-enabled {
    padding-right: 0;
  }
}