.deep_title {
  font-family: var(--font-family-ms);
  font-style: var(--font-style-nrml);
  font-weight: var(--font-weight-5);
  text-transform: var(--FONT-ACCENT-TRANSFORM);
  letter-spacing: var(--FONT-ACCENT-LETTER-SPACING);
  font-size: calc(var(--font-3) * var(--font-adjust));
  line-height: var(--leading-normal);
}
.deep_title .strong, .accent-title.strong, .deep_title strong {
  font-weight: var(--font-weight-6);
}
.deep_title_big {
  font-family: var(--font-family-ms);
  font-style: var(--font-style-nrml);
  font-weight: var(--font-weight-5);
  text-transform: var(--FONT-ACCENT-TRANSFORM);
  letter-spacing: var(--FONT-ACCENT-LETTER-SPACING);
  font-size: calc(var(--font-4) * var(--font-adjust));
  line-height: var(--leading-normal);
}
.deep_title_big .strong, .deep_title_big.strong, .deep_title_big strong {
  font-weight: var(--font-weight-6);
}
.main_size_1,
.main_size_2,
.main_size_3,
.main_size_4,
.main_size_5,
.main_size_6,
.main_size_7,
.main_size_8,
.main_size_9,
.main_size_10,
.main_size_11,
.main_size_12,
.main_size_13,
.main_size_14,
.main_size_15 {
  font-family: var(--font-family-pp);
  font-style: var(--FONT-STYLE-BODY);
  font-weight: var(--font-weight-4);
  letter-spacing: var(--letter-spacing-normal);
  text-transform: var(--text-transform-none);
}
.main_size_1 .strong, .main_size_1.strong, .main_size_1 strong,
.main_size_2 .strong,
.main_size_2.strong,
.main_size_2 strong,
.main_size_3 .strong,
.main_size_3.strong,
.main_size_3 strong,
.main_size_4 .strong,
.main_size_4.strong,
.main_size_4 strong,
.main_size_5 .strong,
.main_size_5.strong,
.main_size_5 strong,
.main_size_6 .strong,
.main_size_6.strong,
.main_size_6 strong,
.main_size_7 .strong,
.main_size_7.strong,
.main_size_7 strong,
.main_size_8 .strong,
.main_size_8.strong,
.main_size_8 strong,
.main_size_9 .strong,
.main_size-9.strong,
.main_size_9 strong,
.main_size_10 .strong,
.main_size_10.strong,
.main_size_10 strong,
.main_size_11 .strong,
.main_size_11.strong,
.main_size_11 strong,
.main_size_12 .strong,
.main_size_12.strong,
.main_size_12 strong,
.main_size_13 .strong,
.main_size_13.strong,
.main_size_13 strong,
.main_size_14 .strong,
.main_size_14.strong,
.main_size_14 strong,
.main_size_15 .strong,
.main_size_15.strong,
.main_size_15 strong {
  font-weight: var(--font-weight-5);
}
.main_size_1 {
  font-size: calc(var(--font-1) * var(--font-adjust-1-0));
  line-height: var(--leading-relaxed);
}
.main_size_2 {
  font-size: calc(var(--font-2) * var(--font-adjust-1-0));
  line-height: var(--leading-relaxed);
}
.main_size_3 {
  font-size: calc(var(--font-3) * var(--font-adjust-1-0));
  line-height: var(--leading-normal);
}
.main_size_4 {
  font-size: calc(var(--font-4) * var(--font-adjust-1-0));
  line-height: var(--leading-normal);
}
.main_size_5 {
  font-size: calc(var(--font-5) * var(--font-adjust-1-0));
  line-height: var(--leading-snug);
}
.main_size_6 {
  font-size: calc(var(--font-6) * var(--font-adjust-1-0));
  line-height: var(--leading-snug);
}
.main_size_7 {
  font-size: calc(var(--font-7) * var(--font-adjust-1-0));
  line-height: var(--leading-snug);
}
.main_size_8 {
  font-size: calc(var(--font-8) * var(--font-adjust-1-0));
  line-height: var(--leading-tight);
}
.main_size_9 {
  font-size: calc(var(--font-9) * var(--font-adjust-1-0));
  line-height: var(--leading-tight);
}
.main_size_10 {
  font-size: calc(var(--font-10) * var(--font-adjust-1-0));
  line-height: var(--leading-tight);
}
.main_size_11 {
  font-size: calc(var(--font-11) * var(--font-adjust-1-0));
  line-height: var(--leading-hairline);
}
.main_size_12 {
  font-size: calc(var(--font-12) * var(--font-adjust-1-0));
  line-height: var(--leading-hairline);
}
.main_size_13 {
  font-size: calc(var(--font-13) * var(--font-adjust-1-0));
  line-height: var(--leading-hairline);
}
.main_size_14 {
  font-size: calc(var(--font-14) * var(--font-adjust-1-0));
  line-height: var(--leading-none);
}
.main_size_15 {
  font-size: calc(var(--font-15) * var(--font-adjust-1-0));
  line-height: var(--leading-none);
}
.deep_size_1,
.deep_size_2,
.deep_size_3,
.deep_size_4,
.deep_size_5,
.deep_size_6,
.deep_size_7,
.deep_size_8,
.deep_size_9,
.deep_size_10,
.deep_size_11,
.deep_size_12,
.deep_size_13,
.deep_size_14,
.deep_size_15 {
  font-family: var(--font-family-ms);
  font-style: var(--font-style-nrml);
  font-weight: var(--font-weight-5);
  text-transform: var(--FONT-ACCENT-TRANSFORM);
  letter-spacing: var(--FONT-ACCENT-LETTER-SPACING);
}
.deep_size_1 .strong, .deep_size_1.strong, .deep_size_1 strong,
.deep_size_2 .strong,
.deep_size_2.strong,
.deep_size_2 strong,
.deep_size_3 .strong,
.deep_size_3.strong,
.deep_size_3 strong,
.deep_size_4 .strong,
.deep_size_4.strong,
.deep_size_4 strong,
.deep_size_5 .strong,
.deep_size_5.strong,
.deep_size_5 strong,
.deep_size_6 .strong,
.deep_size_6.strong,
.deep_size_6 strong,
.deep_size_7 .strong,
.deep_size_7.strong,
.deep_size_7 strong,
.deep_size_8 .strong,
.deep_size_8.strong,
.deep_size_8 strong,
.deep_size_9 .strong,
.deep_size-9.strong,
.deep_size_9 strong,
.deep_size_10 .strong,
.deep_size_10.strong,
.deep_size_10 strong,
.deep_size_11 .strong,
.deep_size_11.strong,
.deep_size_11 strong,
.deep_size_12 .strong,
.deep_size_12.strong,
.deep_size_12 strong,
.deep_size_13 .strong,
.deep_size_13.strong,
.deep_size_13 strong,
.deep_size_14 .strong,
.deep_size_14.strong,
.deep_size_14 strong,
.deep_size_15 .strong,
.deep_size_15.strong,
.deep_size_15 strong {
  font-weight: var(--font-weight-6);
}
.deep_size_1 {
  font-size: calc(var(--font-1) * var(--font-adjust));
  line-height: var(--leading-relaxed);
}
.deep_size_2 {
  font-size: calc(var(--font-2) * var(--font-adjust));
  line-height: var(--leading-relaxed);
}
.deep_size_3 {
  font-size: calc(var(--font-3) * var(--font-adjust));
  line-height: var(--leading-normal);
}
.deep_size_4 {
  font-size: calc(var(--font-4) * var(--font-adjust));
  line-height: var(--leading-normal);
}
.deep_size_5 {
  font-size: calc(var(--font-5) * var(--font-adjust));
  line-height: var(--leading-snug);
}
.deep_size_6 {
  font-size: calc(var(--font-6) * var(--font-adjust));
  line-height: var(--leading-snug);
}
.deep_size_7 {
  font-size: calc(var(--font-7) * var(--font-adjust));
  line-height: var(--leading-snug);
}
.deep_size_8 {
  font-size: calc(var(--font-8) * var(--font-adjust));
  line-height: var(--leading-tight);
}
.deep_size_9 {
  font-size: calc(var(--font-9) * var(--font-adjust));
  line-height: var(--leading-tight);
}
.deep_size_10 {
  font-size: calc(var(--font-10) * var(--font-adjust));
  line-height: var(--leading-tight);
}
.deep_size_11 {
  font-size: calc(var(--font-11) * var(--font-adjust));
  line-height: var(--leading-hairline);
}
.deep_size_12 {
  font-size: calc(var(--font-12) * var(--font-adjust));
  line-height: var(--leading-hairline);
}
.deep_size_13 {
  font-size: calc(var(--font-13) * var(--font-adjust));
  line-height: var(--leading-hairline);
}
.deep_size_14 {
  font-size: calc(var(--font-14) * var(--font-adjust));
  line-height: var(--leading-none);
}
.deep_size_15 {
  font-size: calc(var(--font-15) * var(--font-adjust));
  line-height: var(--leading-none);
}
.top_size_1,
.top_size_2,
.top_size_3,
.top_size_4,
.top_size_5,
.top_size_6,
.top_size_7,
.top_size_8,
.top_size_9,
.top_size_10,
.top_size_11,
.top_size_12,
.top_size_13,
.top_size_14,
.top_size_15 {
  font-family: var(--font-family-libre);
  font-style: var(--font-style-nrml);
  font-weight: var(--font-weight-4);
  letter-spacing: var(--letter-spacing-normal);
  text-transform: var(--text-transform-none);
}
.top_size_1 .strong, .top_size_1.strong, .top_size_1 strong,
.top_size_2 .strong,
.top_size_2.strong,
.top_size_2 strong,
.top_size_3 .strong,
.top_size_3.strong,
.top_size_3 strong,
.top_size_4 .strong,
.top_size_4.strong,
.top_size_4 strong,
.top_size_5 .strong,
.top_size_5.strong,
.top_size_5 strong,
.top_size_6 .strong,
.top_size_6.strong,
.top_size_6 strong,
.top_size_7 .strong,
.top_size_7.strong,
.top_size_7 strong,
.top_size_8 .strong,
.top_size_8.strong,
.top_size_8 strong,
.top_size_9 .strong,
.top_size-9.strong,
.top_size_9 strong,
.top_size_10 .strong,
.top_size_10.strong,
.top_size_10 strong,
.top_size_11 .strong,
.top_size_11.strong,
.top_size_11 strong,
.top_size_12 .strong,
.top_size_12.strong,
.top_size_12 strong,
.top_size_13 .strong,
.top_size_13.strong,
.top_size_13 strong,
.top_size_14 .strong,
.top_size_14.strong,
.top_size_14 strong,
.top_size_15 .strong,
.top_size_15.strong,
.top_size_15 strong {
  font-weight: var(--font-weight-7);
}
.top_size_1 {
  font-size: calc(var(--font-1) * var(--font-adjust-1-0));
  line-height: var(--leading-relaxed);
}
.top_size_2 {
  font-size: calc(var(--font-2) * var(--font-adjust-1-0));
  line-height: var(--leading-relaxed);
}
.top_size_3 {
  font-size: calc(var(--font-3) * var(--font-adjust-1-0));
  line-height: var(--leading-normal);
}
.top_size_4 {
  font-size: calc(var(--font-4) * var(--font-adjust-1-0));
  line-height: var(--leading-normal);
}
.top_size_5 {
  font-size: calc(var(--font-5) * var(--font-adjust-1-0));
  line-height: var(--leading-snug);
}
.top_size_6 {
  font-size: calc(var(--font-6) * var(--font-adjust-1-0));
  line-height: var(--leading-snug);
}
.top_size_7 {
  font-size: calc(var(--font-7) * var(--font-adjust-1-0));
  line-height: var(--leading-snug);
}
.top_size_8 {
  font-size: calc(var(--font-8) * var(--font-adjust-1-0));
  line-height: var(--leading-tight);
}
.top_size_9 {
  font-size: calc(var(--font-9) * var(--font-adjust-1-0));
  line-height: var(--leading-tight);
}
.top_size_10 {
  font-size: calc(var(--font-10) * var(--font-adjust-1-0));
  line-height: var(--leading-tight);
}
.top_size_11 {
  font-size: calc(var(--font-11) * var(--font-adjust-1-0));
  line-height: var(--leading-hairline);
}
.top_size_12 {
  font-size: calc(var(--font-12) * var(--font-adjust-1-0));
  line-height: var(--leading-hairline);
}
.top_size_13 {
  font-size: calc(var(--font-13) * var(--font-adjust-1-0));
  line-height: var(--leading-hairline);
}
.top_size_14 {
  font-size: calc(var(--font-14) * var(--font-adjust-1-0));
  line-height: var(--leading-none);
}
.top_size_15 {
  font-size: calc(var(--font-15) * var(--font-adjust-1-0));
  line-height: var(--leading-none);
}