<div class="sidebar__filter__group">
  <button
    class="sidebar__heading js accordion-is-open"
    data-accordion-trigger="accordion-price-5"
    aria-controls="accordion-price-5"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <span>Price</span
    ><span class="sidebar__heading-chevron">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        stroke-linecap="square"
        stroke-linejoin="arcs"
        aria-hidden="true"
        class="icon-theme icon-theme-stroke icon-core-chevron-right"
        viewBox="0 0 24 24"
      >
        <path d="m9 18 6-6-6-6"></path>
      </svg>
      <span class="a11y__show visually-hidden">Expand menu</span>
      <span class="a11y__hide visually-hidden">Hide menu</span>
    </span>
  </button>

  <input
    type="checkbox"
    name="accordion-price"
    id="accordion-price-checkbox"
    class="no-js no-js-checkbox"
    checked=""
  />

  <label for="accordion-price-checkbox" class="sidebar__heading no-js">
    <span>Price</span
    ><span class="sidebar__heading-chevron">
      <svg
        xmlns="http//www.w3.org/2000/svg"
        stroke-linecap="square"
        stroke-linejoin="arcs"
        aria-hidden="true"
        class="icon-theme icon-theme-stroke icon-core-chevron-right"
        viewBox="0 0 24 24"
      >
        <path d="m9 18 6-6-6-6"></path>
      </svg>
      <span class="a11y__show visually-hidden">Expand menu</span>
      <span class="a11y__hide visually-hidden">Hide menu</span>
    </span>
  </label>
  <div
    class="sidebar__navigation__list filter__price"
    id="accordion-price-5"
    data-accordion-body=""
    data-range-holder=""
    style="box-sizing: border-box; display: block"
  >
    <div
      class="filter__price__range collection-range-filter is-initialized"
      data-range-slider=""
      data-range-filter-update=""
      data-se-min="0"
      data-se-step="1"
      data-se-min-value="0"
      data-se-max-value="698"
      data-se-max="698"
    >
      <div
        class="range__dot range__dot--left"
        data-range-left=""
        style="left: 0px"
      >
        <span>&nbsp;</span>
      </div>
      <div
        class="range__dot range__dot--right"
        data-range-right=""
        style="left: 206px"
      >
        <span>&nbsp;</span>
      </div>
      <div class="range__line">
        <span data-range-line="" style="margin-left: 0px; width: 206px"
          >&nbsp;</span
        >
      </div>
    </div>

    <div class="filter__price__fields">
      <div class="filter__price__field filter__price__from">
        <span>$</span>

        <input
          data-field-price-min=""
          class="filter__price__input"
          name="filter.v.price.gte"
          id="filter-price-from-Price-5"
          type="number"
          placeholder="0"
          min="0"
          max="698"
        />

        <label for="filter-price-from-Price-5">From</label>
      </div>
      <div class="filter__price__spacer">-</div>
      <div class="filter__price__field filter__price__to">
        <span>$</span>

        <input
          data-field-price-max=""
          class="filter__price__input"
          name="filter.v.price.lte"
          id="filter-price-to-Price-5"
          type="number"
          placeholder="698"
          min="0"
          max="698"
        />

        <label for="filter-price-to-Price-5">To</label>
      </div>
    </div>
  </div>
</div>

{/* price filter code */}


.link-9 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  position: relative;
}
.link-9::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transition: width 0.4s;
}
.link-9:hover::before {
  width: 100%;
}




.link-hover-effect-nav {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  position: relative;
}
.link-hover-effect-nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s;
}
.link-hover-effect-nav:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
















































product card quick add component code 

  <div
                          key={productIndex}
                          className="collection-tabs-content embla__slide"
                        >
                          {console.log(product.images, 'product map')}
                          <div className="tabs-products-items-container w-full">
                            <div className="tabs-products-items-error"></div>
                            <Link
                              to={`products/${product.handle}`}
                              className="tabs-products-a-tag"
                            >
                              <div className="tabs-products-pagination"></div>
                              <div className="tabs-products-images aspect-[0.9]">
                                <SwiperComponent
                                  images={product.images}
                                  collectionIndex={collectionIndex}
                                  productIndex={productIndex}
                                />
                              </div>
                            </Link>

                            {!product?.selectedOrFirstAvailableVariant
                              ?.availableForSale && (
                              <div className="tabs-product-sold-out-btn">
                                Sold Out
                              </div>
                            )}

                            <div className="tabs-product-variants-box min-h-[40px] md:min-h-[48px]">
                              <div className="tabs-product-variants-box-wrapper">
                                <div className="h-full w-full">
                                  <button
                                    className={`tabs-product-variants-btn ${
                                      product?.options[0].name !== 'Title'
                                        ? 'variants_available'
                                        : ''
                                    }`}
                                  >


                                    {/* <span>Quick Add</span> */}
                                    <AddToCartButton
                                      disabled={
                                        !product?.selectedOrFirstAvailableVariant ||
                                        !product?.selectedOrFirstAvailableVariant
                                          ?.availableForSale
                                      }
                                      onClick={() => {
                                        open('cart');
                                      }}
                                      lines={
                                        product?.selectedOrFirstAvailableVariant
                                          ? [
                                              {
                                                merchandiseId:
                                                  product
                                                    ?.selectedOrFirstAvailableVariant
                                                    .id,
                                                quantity: 1,
                                              },
                                            ]
                                          : []
                                      }
                                    >
                                      {console.log(
                                        product.selectedOrFirstAvailableVariant,
                                        'product selected first available variant',
                                      )}
                                      <span
                                        className={` cursor-pointer ${
                                          product?.selectedOrFirstAvailableVariant
                                            ?.availableForSale
                                            ? 'opacity-100'
                                            : 'opacity-30'
                                        }`}
                                      >
                                        {product?.options[0].name !== 'Title'
                                          ? 'Quick Add'
                                          : 'Add To Cart'}
                                      </span>
                                    </AddToCartButton>
                                  </button>
                                  {/* <div className="tabs-product-variants"> */}

                                  {product?.options[0].name !== 'Title' && (
                                    <div className="ket_option_variants">
                                      <div
                                        className="variant-selects flex flex-row items-center flex-wrap justify-center space-x-r2 py-r4 md:gap-y-r2 cursor-pointer"
                                        id="variant-selects-template"
                                      >
                                        {console.log(
                                          product?.options[0].name === 'Title',
                                          'psops',
                                        )}
                                        {product?.options.map((option) => (
                                          <>
                                            {option.name === 'Size' && (
                                              <>
                                                {console.log(product, 'psops')}

                                                {option.optionValues.map(
                                                  (
                                                    optionValue,
                                                    optionValueIndex,
                                                  ) => {
                                                    return (
                                                      <>
                                                        <fieldset
                                                          key={optionValueIndex}
                                                          className="product-form__input product-form__input--pill h-12"
                                                        >
                                                          <div className="w-full h-full">
                                                            <form
                                                              method="post"
                                                              action="/cart/add"
                                                              onSubmit={console.log(
                                                                'selected input ',
                                                              )}
                                                              className="form w-full h-full"
                                                              encType="multipart/form-data"
                                                              noValidate
                                                            >
                                                              <input
                                                                type="hidden"
                                                                name="form_type"
                                                                value="product"
                                                              />
                                                              <input
                                                                type="hidden"
                                                                name="utf8"
                                                                value="✓"
                                                              />
                                                              <input
                                                                type="hidden"
                                                                name="id"
                                                                value="46910603919600"
                                                                className="product-variant-id"
                                                              />
                                                              <div className="product-form__buttons w-full h-full">
                                                                <button
                                                                  type="submit"
                                                                  name="add"
                                                                  value={
                                                                    optionValue.name
                                                                  }
                                                                  className="product-form__submit button button--full-width group-option-btn h-full w-full cursor-pointer"
                                                                >
                                                                  <span className="tabs-variant-select-btn inline-block whitespace-nowrap text-button-contrast px-r4 py-r4 group-hover-option-button-text-button-contrast group-hover-option-button-bg-button-contrast-5">
                                                                    {
                                                                      optionValue.name
                                                                    }
                                                                  </span>
                                                                  <div className="loading__spinner hidden">
                                                                    <svg
                                                                      xmlns="http: www.w3.org/2000/svg"
                                                                      className="spinner"
                                                                      viewBox="0 0 66 66"
                                                                    >
                                                                      <circle
                                                                        strokeWidth="6"
                                                                        cx="33"
                                                                        cy="33"
                                                                        r="30"
                                                                        fill="none"
                                                                        className="path"
                                                                      ></circle>
                                                                    </svg>
                                                                  </div>
                                                                </button>
                                                              </div>
                                                              <input
                                                                type="hidden"
                                                                name="product-id"
                                                                value="9144418861296"
                                                              />
                                                              <input
                                                                type="hidden"
                                                                name="section-id"
                                                                value="template--18996264501488__featured_collection_tabs_egEfMA"
                                                              />
                                                            </form>
                                                          </div>
                                                        </fieldset>
                                                      </>
                                                    );
                                                  },
                                                )}
                                              </>
                                            )}
                                          </>
                                        ))}

                                        {/* <a
                                          className="ket_extar_variants"
                                          href="/products/the-lori-off-shoulder"
                                        >
                                          2+
                                        </a> */}
                                      </div>
                                    </div>
                                  )}
                                  {/* </div> */}
                                </div>
                              </div>
                            </div>
                          </div>

                          <div className="tabs-products-info text-left">
                            <a href="#">
                              <p className="visually-hidden">{product.title}</p>
                              <div className="tabs-products-title-wrapper">
                                <p className="tabs-products-title">
                                  {product.title}
                                </p>
                              </div>

                              <div className="tabs-products-price-wrapper">
                                {product.selectedOrFirstAvailableVariant.selectedOptions.map(
                                  (selectedOption) => (
                                    <>
                                      <span
                                        className={`tabs-products-price-cutline`}
                                        style={{
                                          display: `${
                                            selectedOption.name === 'Color'
                                              ? 'block'
                                              : 'none'
                                          }`,
                                        }}
                                      >
                                        {selectedOption.name === 'Color' && (
                                          <>{selectedOption.value}</>
                                        )}
                                      </span>
                                    </>
                                  ),
                                )}
                                {/* color */}
                                {console.log(
                                  product.selectedOrFirstAvailableVariant
                                    .selectedOptions,
                                  'product selected or first',
                                )}
                                <span className="tabs-products-price">
                                  {product?.selectedOrFirstAvailableVariant
                                    ?.price ? (
                                    <Money
                                      data={
                                        product?.selectedOrFirstAvailableVariant
                                          ?.price
                                      }
                                    />
                                  ) : null}
                                </span>
                              </div>

                              {!product?.selectedOrFirstAvailableVariant
                                ?.availableForSale && (
                                <p className="tabs-products-sold-out">
                                  <em>Sold Out</em>
                                </p>
                              )}

                              <div className='tabs-products-swatch-main-container'>
                                <div className='tabs-products-swatch-sub-container'>
                                  <p className='tabs-products-swatch-title'>
                                  </p>
                                  <div className=''>

                                  </div>
                                </div>
                              </div>


                            </a>
                          </div>
                        </div>






fieldset for variatnt selection



                        <fieldset
                                        key={optionValueIndex}
                                        className="product-form__input product-form__input--pill h-12"
                                      >
                                        <div className="w-full h-full">
                                          <form
                                            method="post"
                                            action="/cart/add"
                                            onSubmit={console.log(
                                              'selected input ',
                                            )}
                                            className="form w-full h-full"
                                            encType="multipart/form-data"
                                            noValidate
                                          >
                                            <input
                                              type="hidden"
                                              name="form_type"
                                              value="product"
                                            />
                                            <input
                                              type="hidden"
                                              name="utf8"
                                              value="✓"
                                            />
                                            <input
                                              type="hidden"
                                              name="id"
                                              value="46910603919600"
                                              className="product-variant-id"
                                            />
                                            <div className="product-form__buttons w-full h-full">
                                              <button
                                                type="submit"
                                                name="add"
                                                value={optionValue.name}
                                                className="product-form__submit button button--full-width group-option-btn h-full w-full cursor-pointer"
                                              >
                                                <span className="tabs-variant-select-btn inline-block whitespace-nowrap text-button-contrast px-r4 py-r4 group-hover-option-button-text-button-contrast group-hover-option-button-bg-button-contrast-5">
                                                  {optionValue.name}
                                                </span>
                                                <div className="loading__spinner hidden">
                                                  <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    className="spinner"
                                                    viewBox="0 0 66 66"
                                                  >
                                                    <circle
                                                      strokeWidth="6"
                                                      cx="33"
                                                      cy="33"
                                                      r="30"
                                                      fill="none"
                                                      className="path"
                                                    ></circle>
                                                  </svg>
                                                </div>
                                              </button>
                                            </div>
                                            <input
                                              type="hidden"
                                              name="product-id"
                                              value="9144418861296"
                                            />
                                            <input
                                              type="hidden"
                                              name="section-id"
                                              value="template--18996264501488__featured_collection_tabs_egEfMA"
                                            />
                                          </form>
                                        </div>
                                      </fieldset>
















                                      <button
                                    value={optionValue.name}
                                    className="tabs-products-swatch-link"
                                  >
                                    <div className="tabs-products-swatch">
                                      <div className="tabs-products-swatch-size">
                                        {optionValue.firstSelectableVariant
                                          .image && (
                                          <div className="relative block w-full h-full overflow-hidden aspect-[1.0]">
                                            {/* <ProductImage product={ optionValue.swatch.image.previewImage}/> */}
                                            {/* {console.log(optionValue.swatch.image.previewImage.url ,"urll")} */}
                                            {console.log(
                                              optionValue.name,
                                              optionValue.firstSelectableVariant
                                                .image,
                                              'imageee',
                                            )}
                                            <Image
                                              data={
                                                optionValue
                                                  .firstSelectableVariant.image
                                              }
                                              class="block overflow-hidden w-full h-full object-cover transition-opacity duration-300 ease-linear"
                                              height="35"
                                              width="26"
                                              loading="lazy"
                                              fetchPriority="low"
                                              style={{
                                                objectPosition: 'center center',
                                              }}
                                            />

                                            {console.log(
                                              optionValue.name,
                                              optionValue.firstSelectableVariant
                                                .image,
                                              'imageee',
                                            )}

                                            {/* <img src={ optionValue.swatch.image.previewImage.url} alt={optionValue.swatch.image.previewImage.altText} height={35} width={26} style={{objectPosition:"center center"}}/> */}

                                            {/* {optionValue.swatch.image.previewImage !== undefined && (
                                                  <>
                                                    <span>
                                                      {
                                                        optionValue.swatch
                                                          .previewImage.altText
                                                      }
                                                    </span>
                                                    <span>
                                                      {
                                                        optionValue.swatch
                                                          .previewImage.url
                                                      }
                                                      
                                                    </span>
                                                  </>
                                                )} */}
                                          </div>
                                        )}
                                      </div>
                                    </div>
                                  </button>





























                                  {product.variants.nodes.map((variant) => (
                                    <>
                                      {/* {console.log(product, 'psops')} */}
                                      {variant.selectedOptions.map((selectedOption) => {
                                        const variantColor = variant.selectedOptions.find(
                                          (opt) => opt.name === 'Color',
                                        )?.value;
            
                                        const selectedColor =
                                          selectedVariant.selectedOptions.find(
                                            (opt) => opt.name === 'Color',
                                          )?.value;
            
                                        return (
                                          <>
                                            {variantColor === selectedColor &&
                                              selectedOption.name === 'Size' && (
                                                <>
                                                  {console.log(
                                                    selectedOption,
                                                    'selected varrr',
                                                  )}
                                                  <AddToCartButton
                                                    disabled={
                                                      !variant || !variant?.availableForSale
                                                    }
                                                    onClick={() => {
                                                      open('cart');
                                                    }}
                                                    lines={
                                                      variant
                                                        ? [
                                                            {
                                                              merchandiseId: variant.id,
                                                              quantity: 1,
                                                            },
                                                          ]
                                                        : []
                                                    }
                                                  >
                                                    {/* {console.log(
                                            product.selectedOrFirstAvailableVariant,
                                            'product selected first available variant',
                                          )} */}
                                                    <div className="product-form__buttons w-full h-full">
                                                      <button
                                                        type="submit"
                                                        name="add"
                                                        value={variant.id}
                                                        className="product-form__submit button button--full-width group-option-btn h-full w-full cursor-pointer"
                                                      >
                                                        <span className="tabs-variant-select-btn inline-block whitespace-nowrap text-button-contrast px-r4 py-r4 group-hover-option-button-text-button-contrast group-hover-option-button-bg-button-contrast-5">
                                                          {selectedOption.value}
                                                        </span>
                                                        <div className="loading__spinner hidden">
                                                          <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            className="spinner"
                                                            viewBox="0 0 66 66"
                                                          >
                                                            <circle
                                                              strokeWidth="6"
                                                              cx="33"
                                                              cy="33"
                                                              r="30"
                                                              fill="none"
                                                              className="path"
                                                            ></circle>
                                                          </svg>
                                                        </div>
                                                      </button>
                                                    </div>
                                                  </AddToCartButton>
                                                </>
                                              )}
                                          </>
                                        );
                                      })}
            
                                      {/* <a
                                            className="ket_extar_variants"
                                            href="/products/the-lori-off-shoulder"
                                          >
                                            2+
                                          </a> */}
                                    </>
                                  ))}





















                                  

                                  {productOptions.map((option) => (
                                    <>
                                      {console.log(option, 'optionss')}
                                      {option.name === 'Color' && option.optionValues.length > 1 && (
                                        <>
                                          <div className="tabs-products-swatch-main-container">
                                            <div className="tabs-products-swatch-sub-container">
                                              <p className="tabs-products-swatch-title">
                                                {option.optionValues.length} Colors Available
                                              </p>
                                              <div className="tabs-products-swatch-main-wrapper">
                                                <div className="tabs-products-swatch-sub-wrapper">
                                                  <div className="tabs-products-swatch-inner">
                                                    {option.optionValues.map((optionValue,index) => {
                                                      const {
                                                        name,
                                                        handle,
                                                        variantUriQuery,
                                                        selected,
                                                        available,
                                                        exists,
                                                        isDifferentProduct,
                                                        swatch,
                                                      } = optionValue;
                        
                                                      const [activeSwatchTab, setActiveSwatchTab] = useState(0);
                                                      
                                                        const handleSwatchTabClick = (tabIndex) => {
                                                          setActiveSwatchTab(tabIndex);
                                                        };
                        
                                                      return (
                                                        <>
                                                          {console.log(optionValue, 'option valueee')}
                                                          <div
                                                            className={`tabs-products-swatch-holder ${
                                                              optionValue.firstSelectableVariant
                                                                .availableForSale
                                                                ? ''
                                                                : 'sold-out'
                                                            }`}
                                                          >
                                                            <button
                                                              type="button"
                                                              className={`product-options-item${
                                                                exists && !selected ? ' link' : ''
                                                              }`}
                                                              key={option.name + name}
                                                              style={{
                                                                border: selected
                                                                  ? '1px solid red'
                                                                  : '1px solid transparent',
                                                                opacity: available ? 1 : 0.3,
                                                              }}
                                                              disabled={!exists}
                                                              data-tab={index}
                                                              tabIndex={index}
                                                              onClick={() => {
                                                                handleSwatchTabClick(index)
                                                                if (!selected) {
                                                                  navigate(`?${variantUriQuery}`, {
                                                                    replace: true,
                                                                    preventScrollReset: true,
                                                                  });
                                                                }
                                                              }}
                                                            >
                                                              {console.log(activeSwatchTab,"active index")}
                                                              <div className="tabs-products-swatch">
                                                                <div className="tabs-products-swatch-size">
                                                                  {optionValue.firstSelectableVariant
                                                                    .image && (
                                                                    <div className="relative block w-full h-full overflow-hidden aspect-[1.0]">
                                                                      <Image
                                                                        data={
                                                                          optionValue
                                                                            .firstSelectableVariant
                                                                            .image
                                                                        }
                                                                        class="block overflow-hidden w-full h-full object-cover transition-opacity duration-300 ease-linear"
                                                                        height="35"
                                                                        width="26"
                                                                        loading="lazy"
                                                                        fetchPriority="low"
                                                                        style={{
                                                                          objectPosition:
                                                                            'center center',
                                                                        }}
                                                                      />
                                                                    </div>
                                                                  )}
                                                                </div>
                                                              </div>
                                                            </button>
                                                          </div>
                                                        </>
                                                      );
                                                    })}
                                                    {option.optionValues.length > 5 && (
                                                      <>
                                                        <a
                                                          href="#"
                                                          className="  tabs-products-swatch-more-links"
                                                        >
                                                          {option.optionValues.length - 5}+
                                                        </a>
                                                      </>
                                                    )}
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </>
                                      )}
                                    </>
                                  ))}